STRIPE_SECRET_KEY=sk_test_replace_me
RESEND_API_KEY=re_replace_me
CONTACT_FROM_EMAIL="The Awesome Calendar <connect@send.theawesomecalendar.com>"
CONTACT_TO_EMAIL=hello@theawesomecalendar.com
TURNSTILE_SITE_KEY=replace_me
TURNSTILE_SECRET_KEY=replace_me
GOOGLE_SITE_VERIFICATION=
BING_SITE_VERIFICATION=
